Flow 1.json
[{"id":"d173a9cb.ca2b68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c7394cb.f5b098","type":"inject","z":"d173a9cb.ca2b68","name":"ON","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["4c2ebc93.f2e944","2560fc48.eb36c4"]]},{"id":"67320416.12a40c","type":"inject","z":"d173a9cb.ca2b68","name":"OFF","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["4c2ebc93.f2e944","2560fc48.eb36c4"]]},{"id":"4c2ebc93.f2e944","type":"rpi-gpio out","z":"d173a9cb.ca2b68","name":"LED","pin":"7","set":true,"level":"0","freq":"","out":"out","x":400,"y":240,"wires":[]},{"id":"2560fc48.eb36c4","type":"debug","z":"d173a9cb.ca2b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":160,"wires":[]}]